html, body {
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: Verdana, sans-serif;
}
h3 {
	color: #bbb;
}

h4 {
	color: #bbb;
	font-size: 13px;
	margin: 0.35em 0 0.25em;
	padding: 0;
	font-weight: bold;
}

.title {
	font-family: Arial Black;
	font-size: 24px;
	margin: 20px 0 20px 40px;
}

li {
	list-style-type: none;
}

.movieList {
	cursor: pointer;
}

.movieList .poster img {
	width: 100px;
	display: inline-block;
}

.backdrop {
	width: 1000px;
	height: 400px;
	margin: 10px 0 10px 40px;
	overflow: hidden;
}

.poster {
	display: inline-block;
}

.information {
	margin: 0 0 0 10px;
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.information .movie-title {
	display: inline;
	margin-right: 10px;
}

.information .movie-year {
	display: inline;
}

.credits-item {
	font-size: 13px;
}

h4.inline {
	display: inline;
	padding-right: 5px;
}

.information h1 {
	margin-top: 0;
}

.information .plot {
	margin: 20px 0;
}

.information h4 .inline {
	display: inline;
}

.infoContainer {
	max-width: 1032px;
}

.searchContainer, .infoContainer {
	margin: 10px 0 10px 40px;
}

.details {
	margin: 0 0 0 10px;
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.details h1 {
	margin-top: 0;
}

ul.knownFor {
	padding-left: 0;
}

.knownFor li {
	display: inline-block;
}

.knownFor div {
	width: 185px;
	text-align: center;
	margin: 0 10px 10px 0;
}

.knownFor img {
	width: 185px;
	height: 250px;
}

.searchContainer input {
	background-color: inherit;
	width: 500px;
}

.movieListContainer {

}

.ratings-wrapper {
	height: 60px;
}

.imdb-rating {
	width: 100px;
	float: left;
}

.imdb-rating i {
	font-size: 24px;
	color: #FFD600;
}

.imdb-rating .rating {
	font-size: 24px;
}

.imdb-rating .grey {
	color: #6b6b6b;
	font-size: 10px;
}

.imdb-rating .votes {
	font-size: 10px;
}

.own-rating {
	width: 260px;
	padding-left: 15px;
	border-left: 1px solid #6b6b6b;
	float: left;
}

.star-rating {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.star-rating .star {
	padding: 1px;
	color: #fff;
	font-size: 20px;
	text-shadow: .05em .05em #aaa;
	list-style-type: none;
	display: inline-block;
	cursor: pointer;
}

.star-rating .star.filled {
	color: #fd0;
}

.star-rating.readonly .star.filled {
	color: #666;
}

.buttonContainer {
	width: 100%;
}

.buttonContainer a {
	padding-left: 0;
}