.list {
  list-style-type: none;
  list-style-position: inside; }

html, body {
  background-color: #000;
  color: #FFF;
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 100%; }

input {
  color: #000; }

li {
  list-style-type: none; }

h1 {
  font-family: "Arial Black", sans-serif;
  font-size: 1.71429em;
  line-height: 1.5em;
  margin: 20px 0 20px 40px;
  color: #bbb; }

h2 {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 1.42857em;
  line-height: 1.6em;
  color: #bbb; }

h3 {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 1.28571em;
  line-height: 1.33333em;
  color: #bbb; }

h4 {
  font-family: "Verdana", "Arial", sans-serif;
  font-size: 0.92857em;
  line-height: 1.23077em;
  color: #bbb;
  font-weight: bold; }

.backdrop {
  width: 1000px;
  height: 400px;
  margin: 10px 0 10px 40px;
  overflow: hidden; }

.search-container {
  margin: 10px 0 10px 40px; }

.movieList {
  cursor: pointer; }
  .movieList .poster {
    display: inline-block; }
    .movieList .poster img {
      width: 100px; }

.genreList {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.genreList.ng-hide {
  opacity: 0; }

.info-container {
  max-width: 1032px;
  margin: 10px 0 10px 40px; }
  .info-container .poster {
    display: inline-block; }
  .info-container .information {
    margin: 0 0 0 10px;
    width: 50%;
    display: inline-block;
    vertical-align: top; }
    .info-container .information .movie-title {
      margin: 0;
      display: inline; }
    .info-container .information .movie-year {
      display: inline; }
    .info-container .information .inline {
      display: inline;
      padding-right: 5px; }
    .info-container .information .plot {
      margin: 20px 0; }
    .info-container .information .ratings-wrapper {
      height: 60px; }
    .info-container .information .credits-item {
      font-size: 13px; }

.imdb-rating {
  width: 100px;
  float: left; }
  .imdb-rating i {
    font-size: 24px;
    color: #FFD600; }
  .imdb-rating .rating {
    font-size: 24px; }
  .imdb-rating .grey {
    color: #6b6b6b;
    font-size: 10px; }
  .imdb-rating .votes {
    font-size: 10px; }

.own-rating {
  width: 260px;
  padding-left: 15px;
  border-left: 1px solid #6b6b6b;
  float: left; }

.info-container .actor.poster {
  display: inline-block;
  width: 18%; }

.info-container .details {
  margin: 0 0 0 10px;
  width: 80%;
  display: inline-block;
  vertical-align: top; }
  .info-container .details h1 {
    margin-left: 0; }

.info-container .knownFor li {
  display: inline-block; }

.info-container .knownFor div {
  width: 185px;
  text-align: center;
  margin: 0 10px 10px 10px; }

.info-container .knownFor img {
  width: 185px;
  height: 250px; }

.buttonContainer {
  width: 100%; }
  .buttonContainer a {
    padding-left: 0; }
