<div ng-controller="ActorDetailController">

	<div class="backdrop">
		<img ng-repeat="backdrop in movieBackdrops" ng-src="{{ backdrop.file_path ? 'https://image.tmdb.org/t/p/w1000' + backdrop.file_path : '' }}" style="display: none; "/>
	</div>

	<div class="infoContainer">
		<div class="poster">
			<img ng-src="{{ actor.profile_path.length ? 'https://image.tmdb.org/t/p/w185' + actor.profile_path : '/images/posterNotFound.png' }}"  />
		</div>
		<div class="details">
			<h1 class="slideInDown animated">{{actor.name}}</h1><h4 ng-show="actorDetail.birthday">Born {{actorDetail.birthday | date: 'd MMMM yyyy'}} in {{actorDetail.place_of_birth}}</h4>
			<span>{{actorDetail.biography}}</span>
		</div>
		<hr>
		<ul class="knownFor" ng-controller="MoviesController as moviesCtrl">
			<li ng-repeat="movie in movieCredits.cast">
				<div ng-click="moviesCtrl.getImdbIdAndGo(movie.id)">
					<img ng-src="{{ movie.poster_path.length ? 'https://image.tmdb.org/t/p/w185' + movie.poster_path : '/images/posterNotFound.png' }}" />
					<span>{{movie.title}}</span>
				</div>
			</li>
		</ul>

		<div class="buttonContainer">
			<a href="/#/" class="btn"><i class="fa fa-arrow-circle-left"></i> BACK</a>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('.backdrop img').css({ opacity : 0.0 });
		$('.backdrop img:first').css({ opacity: 1.0 });

		slideShow();
	});

	function slideShow() {

		setInterval('gallery()', 5000);
	}

	function gallery() {
		var current = ($('.backdrop img.show') ? $('.backdrop img.show') : $('.backdrop img').first());
		var next = ((current.next().length) ? ((current.next().hasClass('caption')) ? $('.backdrop img').first() : current.next()) : $('.backdrop img').first());

		next.css({ opacity: 0.0 })
				.addClass('show')
				.animate({ opacity: 1.0 }, 1000);

		current.animate({ opacity: 0.0 }, 1000).removeClass('show');
	}
</script>