<div ng-controller="RecommendController as recommend">
    <div class="info-container">

        <div class="row">
            <a ng-click="showGenreList =! showGenreList"><i ng-show="!showGenreList" class="fa fa-plus" aria-hidden="true"></i><i ng-show="showGenreList" class="fa fa-times" aria-hidden="true"></i> Genres</a>
            <ul class="genreList" ng-show="showGenreList">
                <li ng-repeat="genre in genres">
                    <span><input type="checkbox" ng-model="selection.genres[genre.id]" id="{{genre.name}}" /> {{genre.name}}</span>
                </li>
            </ul>
        </div>

        <div class="row">
            <a ng-click="showYearsList =! showYearsList"><i ng-show="!showYearsList" class="fa fa-plus" aria-hidden="true"></i><i ng-show="showYearsList" class="fa fa-times" aria-hidden="true"></i> Years</a>
            <ul class="yearsList" ng-show="showYearsList">
                <li ng-repeat="(year, description) in years">
                    <span><input type="checkbox" ng-model="selection.years[year]" ng-click="selectYear(year)" id="{{year}}" /> &#39;{{description}}</span>
                </li>
            </ul>
        </div>

        <div class="row">
            <a ng-click="showRatingsList =! showRatingsList"><i ng-show="!showRatingsList" class="fa fa-plus" aria-hidden="true"></i><i ng-show="showRatingsList" class="fa fa-times" aria-hidden="true"></i> Ratings</a>
            <ul class="ratingsList" ng-show="showRatingsList">
                <li ng-repeat="(rating, rating) in ratings">
                    <span><input type="checkbox" ng-model="selection.rating[rating]" ng-click="selectRating(rating)" id="{{rating}}" /> {{rating}}</span>
                </li>
            </ul>
        </div>

        <div class="row">
            <span>Include adult: <input type="checkbox" ng-model="selection.adult" id="adult" /></span>
        </div>
        <div class="row">
            <span>High-rated movies: <input type="checkbox" ng-model="selection.popular" id="popular" /></span>
        </div>

        <div class="row">
            <button ng-click="recommend()">RECOMMEND</button>
        </div>

        <div class="row">
            <div class="poster">
                <img ng-show="recommendation.poster_path.length" ng-src="{{ recommendation.poster_path.length ? 'https://image.tmdb.org/t/p/w185' + recommendation.poster_path : '/images/posterNotFound.png' }}" />
            </div>
            <div class="information">
                {{recommendation.title}} {{recommendation.release_date | date : 'yyyy' }}
                {{recommendation.vote_average}}
                {{getMovieGenres(recommendation.genre_ids)}}
            </div>
        </div>
    </div>
</div>
