.info-container {
  .actor.poster {
    display: inline-block;
    width: 18%;
  }

  .details {
    margin: 0 0 0 10px;
    width: 80%;
    display: inline-block;
    vertical-align: top;

    h1 {
      margin-left: 0;
    }
  }

  .knownFor li {
    display: inline-block;
  }

  .knownFor div {
    width: 185px;
    text-align: center;
    margin: 0 10px 10px 10px;
  }

  .knownFor img {
    width: 185px;
    height: 250px;
  }
}
