.ratingsList {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;

  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.ratingsList.ng-hide {
  opacity: 0;
}
